body{
    background-color: #bb8ebb;
}
header{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #d8bed8;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #564c56;
  }
  
nav li {
    float: left;
}

nav li a {
    display: block;
    color: #bed8d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #2b262b;
}