<nav>
    <ul>
        <li><img src='images/hedgehog.png' alt='hedgehog logo' height='40' width='40' style='filter: invert(92%) sepia(15%) saturate(245%) hue-rotate(130deg) brightness(95%) contrast(82%); padding-left: 0.1em;'></li>
        <li><a href="index.html">Homepage</a></li>
        <li>
            <div class='dropdown'>
                <a class='dropbtn'>Page Links</a>
                <div class='dropdown-content'>
                    <a href="https://howstheaqua.github.io/">Github Repository</a>
                    <a href="https://howstheaqua.github.io/itis3135">3135 Course Page</a>
                    <a href="https://webpages.charlotte.edu/ehughe29/" target="_blank">UNCC Personal Webpage</a>
                </div>
            </div>
        </li>
        <li>
            <div class='dropdown'>
                <a href='contact.html' class='dropbtn'>Personal Links</a>
                <div class='dropdown-content'>
                    <a href="https://github.com/howstheaqua" target="_blank">Github</a>
                    <a href="https://www.linkedin.com/in/evan-a-hughes/" target="_blank">LinkedIn</a>
                    <a href="https://www.freecodecamp.org/evanahughes" target='_blank'>freeCodeCamp</a>
                </div>
            </div>
        </li>
        <li><a href="introduction.html">Introduction</a></li>
        <li>
            <div class='dropdown'>
                <a class='dropbtn'>Course Assignments</a>
                <div class='dropdown-content'>
                    <a href="contract.html">Contract</a>
                    <a href="website_evaluations.html">Crap Website Discovery and Evaluation</a>
                    <a href="tables.html">Activity 2: Tables</a>
                    <a href="forms.html">Activity 3: Forms</a>
                    <a href="evanhughes.dev/index.html">Activity 4: Enhancing your Firm</a>
                    <a href="firstscripts.html">Activity 5: First JavaScripts</a>
                    <a href="polygons.html">Activity 6: Polygons</a>
                    <a href="calculator_try.html">Activity 7: Calculator</a>
                    <a href="arrays.html">Activity 8: Arrays</a>
                    <a href="slideshow.html">Activity 9: Slideshow</a>
                    <a href="imageswap.html">Activity 10: Image Swap</a>
                    <a href="hughes_activity_11.html">Activity 11: Accordion Widget</a>
                    <a href="hughes-activity12.html">Activity 12: Modify the Carousel Application</a>
                </div>
            </div>
        </li>
        <li>
            <div class='dropdown'>
                <a class='dropbtn'>Project</a>
                <div class='dropdown-content'>
                    <a href="project_1.html">Requirements & Design Proposal Webpage</a>
                    <a href="project/index.html">Project Website</a>
                    <a href="hobby/index.html">Midterm Hobby Site</a>
                    <a href="peer_review.html">Peer Review 1</a>
                    <a href="peer_review_2.html">Peer Review 2</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
<header>
    <h1>Evan Hughes * ITIS 3135</h1>
</header>